/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}


#logout{
	font-size: small;
	color: #fff;
}


.content {
  background-color: #fff;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

.objectiveRed {
     border:1px #333;   
    padding:8px;
    background-color: #B80000 ;
    -webkit-border-radius:40px/24px;
    -moz-border-radius:40px/24px;
    border-radius:40px/24px;
    color:#FFFFFF;
    text-align: center;
}
.objectiveYellow {
     border:1px #333;   
    padding:8px;
    background-color:#D6C90D;
    -webkit-border-radius:40px/24px;
    -moz-border-radius:40px/24px;
    border-radius:40px/24px;
    color:#FFFFFF;
    text-align: center;
}
.objectiveGreen {
     border:1px #333;   
    padding:8px;
    background-color:green;
    -webkit-border-radius:40px/24px;
    -moz-border-radius:40px/24px;
    border-radius:40px/24px;
    color:#FFFFFF;
    text-align: center;
}

.centrebox{padding:25px 0 10px;}
.container-fluid{background:#f0f0f0;}
.darkborder td, .darkborder th { border-top:1px dotted #000 !important;}
.table th{font-size:15px; color:#00489b; padding:1px;}


.table th{text-align:center !important;}
.table tdc{text-align:center;}
.table tdl{text-align:left;}

.A:visited {text-decoration: none}

.btn-success {
width: 200px !important;
}

.btn-warning {
width: 200px !important;
}

.btn-danger{
width: 200px !important;
}

