<% @date = ScoreDate.find(@indicator_score.scoredate_id)%>

<h2>Editar mediciones de Indicadores</h2>

<%= render 'form' %>

<%= link_to 'Show', @indicator_score %> |
<%= link_to 'Back', indicator_scores_path %>
